h1 {
    color:black;
    text-align:center;
}
h2 {
    color:white;
}
.container {
    position:relative;
    text-align:center;
    color:grey;
    font-size:50px;
    font-family:sans-serif;
}
.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
#about-me {
    background: white;
}
.border-radius {
    border-radius:50%;
}
p {
    color:black;
    font-size:20px;
    text-align:left;
}
.work {
    color:black;
    font-size:20px;
    text-align:left;
}
.practise {
    color:black;
    font-size:20px;
}
h6 {
    color:white;
<<<<<<< HEAD
}
=======
    text-align:center;
}
h5 {
    color:black;
    text-align:center;
}
h4 {
    color:black;
}
h3 {
    color:white;
}
p.center {
    text-align:center;
}
#contact-me {
    background:black;
}
.testbox {
    background:black;
    margin-bottom:8px;
    outline:none;
    border:solid 1px rgb(red, green, blue);
    padding:8px;
    width:100%;
}
p.center {
    color:grey;
}
p.left {
    color:black;
}

>>>>>>> 7338d1b444bb497a6a2fff7c7afd7e9019f9ae76
